# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/skin_library/build/
/skin_library/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
!/.idea/
/.idea/
